@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

$color_1: #021e40;
$color_2:#fff;
$color_3: #006ba1;

.page-template-listing-offers {
  .content-listing-offers{
    min-height: 65vh;
  }

  section .w-content {
    display: grid;
    grid-template-columns: minmax(230px,24.16%) 1fr ;
   
    column-gap: 1.4%;
    
    @media screen and (max-width: 1200px) {
      width: 96%;
    }

    @media screen and (max-width: 600px) {
      width: 94%;
     display: block;
    }
  
    .head {
      grid-column: 1 / 3;
      height: r(134);
      display: flex;
      justify-content: center;
      flex-direction: column;

      .title {
        font-size: r(24);
        line-height: r(26);
        color: $color_1;
        font-weight: 700;
      }

      .text,
      .count-offers,
      .count-country {
        font-size: r(18);
        line-height: r(22);
        color: $color_1;
        font-weight: 500;
      }

      .text {
        margin-top: r(8);
      }
    }

    .w-list {
      margin-bottom: r(70);
      @media screen and (max-width: 600px) {
       margin-top: r(30);
      }
    }
  }


  .sidebar-left {
    .nav {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .nav-link {
      font-size: r(14);
      line-height: r(30);
      color: $color_1;
      padding: 0 1rem;
      font-weight: 500;
    }

    .widget_nav_menu {
      margin-top: r(25);

      .widget-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.125rem;
        border-radius: 2px;
        background-color: #ebebeb;
        border: 1px solid #d7d7d7;
        font-size: r(14);
        line-height: r(30);
        color: $color_1;
        padding: 0 1rem;
        font-weight: 500;
        margin-bottom: r(10);
        cursor: pointer;

        &::after {
          display: block;
          content: '';
          border-top: 2px solid $color_1;
          border-right: 2px solid $color_1;
          width: 0.3rem;
          height: 0.3rem;
          transform: rotateZ(-45deg);
          transition: transform 0.3s;

        }

        &.hide {
          &::after {
            transform: rotateZ(135deg);
          }
        }
      }
    }
  }
}

.page-template-tips-and-news,
.page-template-category-article {
  .w-content {
  
    @media screen and (max-width: 1200px) {
      width: 96%;
    }
    @media screen and (max-width: 600px) {
      width: 94%;
    }
  }
  .w-cta-gold{
    text-align: center;
    margin-top: r(65);
  }
  .cta-gold{
    display: inline-block;
    padding: r(16) r(28);
    width: auto;
    height: auto;

  }
  .heading {
    color: $color_1;
    font-size: r(24);
    font-weight: 700;
  }

  .w-category-item {
    padding-top: r(95);
    &:first-child {
      padding-top: r(50);
    }
  }
  .content-listing-category{
    padding-bottom: r(50);
    min-height: 65vh;
  }
}

.page-template-about-us{
  .w-content {
  
    @media screen and (max-width: 1200px) {
      width: 96%;
    }
    @media screen and (max-width: 600px) {
      width: 94%;
    }
  }
  .w-top{
    padding-top: r(76);
    padding-bottom: r(110);
    background: #f3f3f3;
    @media screen and (max-width: 600px) {
      >*:not(.w-content){
        width: 86%;
        margin-left: auto;
        margin-right: auto;
      }
      
    }
    @media screen and (max-width: 850px) and (orientation: landscape) {
      >*:not(.w-content){
        width: 86%;
        margin-left: auto;
        margin-right: auto;
      }
      padding-bottom: r(90);
    }
    h1{
    span{
      font-size: r(48);
      font-weight: 700;
      color:$color_1;
    }
    & + p{
      margin-top: r(20);

    }
  & ~ *{
    font-size: r(20);
    line-height: r(26);
    
    *{
      font-size: r(20);
    line-height: r(26);
    }
    
  }
    }
  }
  .w-icon-top{
    margin-top: r(60);
    display: flex;
    justify-content: space-between;
    img{
      width: r(194);
      height: r(118);
      object-fit: contain;
      @media screen and (max-width: 350px) {
        height: r(80);
        width: auto;
      }
    }
    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 2rem;
      img{
        justify-self: center;
      }
    }
  }
  .w-banner{
    padding: r(85) 0;
    .w-text{
      font-size: r(30);
      line-height: r(36);
      color:$color_2;
      @media screen and (max-width: 600px), (max-width: 850px) and (orientation: landscape) {
        width: 86%;
        margin: 0 auto;
        font-size: 1.6rem;
        br{
          display: none;
        }
      }
      
    }
  }
  .w-column-text{
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: r(120) 0;
    @media screen and (max-width: 600px) {
      padding: 4rem 0;
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    @media screen and (max-width: 850px) and (orientation: landscape) {
      width: 86%;
      margin: 0 auto;
      column-gap: 1rem;      
      padding: 4rem 0;
    }
    p ~ p{
      margin-top: r(35);
    }
    p{
      font-size: r(16);
      line-height: r(24);
      color: $color_1;
      @media screen and (max-width: 600px) {
        text-align: center;
      }
    }
  }
  .w-more-information{
    display: flex;
    justify-content: center;
    padding: r(85) 0;
    background: #f3f3f3;
    img{
      width: r(200);
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    @media screen and (max-width: 600px) {
     text-align: center;
    }
    .w-text{
      margin-left: 3.5vw;
      @media screen and (max-width: 600px) {
        margin-left: unset;
        width: 86%;
      }
    }
    p strong{
      font-size: r(28);
      color: #006ba1;
    }
    p + p{
      margin-top: r(20);
      font-size: r(18);
      line-height: r(24);
      color: $color_1;
    }
    p a{
      font-weight: 500;
    }
  }
  .w-brand-icons{
    display: grid;
      grid-template-columns: repeat(6,1fr);
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      row-gap: 1rem;
      column-gap: 1rem;
      >*{
        justify-self: center;
        align-self: center;
      }
    margin-top: r(60);
    margin-bottom: r(45);
    @media screen and (max-width: 1200px){
  
      grid-template-columns: repeat(3,1fr);
      width: 96%;
   
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(2,1fr);
      width: 94%;
    }
    img{
      width:r(200);
      height: r(85);
      object-fit: contain;
      @media screen and (max-width: 380px) {
        width:r(180);
      }
    }
  }
}

.page-template-contact{
    background: #f3f3f3;
    .w-content {
  
      @media screen and (max-width: 1200px) {
        width: 96%;
      }
      @media screen and (max-width: 600px) {
        width: 94%;
      }
    }
  header{
    background: $color_2;
  }
  .heading{
    font-size: r(20);
    color: $color_1;
    font-weight: 700;
  }
  .text{
    margin-top: r(30);
  }
  .cta-gold{
    width: r(166);
    margin: unset;
    margin-top: r(30);
    font-size: r(18);
    display: flex;
    justify-content: center;
    align-items: center;
    &.blue{
      background: $color_3;
    }
    &:hover{
      &.blue{
        background: rgb(0, 89, 161);
      }
    }
  }
  .w-content-contact{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap:1rem;
     margin-top: r(45);
     @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
     row-gap:2.5rem;
       }
 }

 .primary{
     margin-bottom: r(130);
     margin-top: 3.125rem;

     @media screen and (max-width: 600px), (max-width:850px) and (orientation: landscape) {
      margin-bottom: 4rem;
       }
 }
}

.single {
  .thumnbail{
    height: r(416);
  }
  .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    .title {
      font-size: r(24);
      line-height: r(26);
      color: $color_1;
      font-weight: 700;
    }

    .text,
    .count-offers,
    .count-country {
      font-size: r(18);
      line-height: r(22);
      color: $color_1;
      font-weight: 500;
    }

    .text {
      margin-top: r(8);
    }
  }
  .sidebar-right {
    padding-right: 1.8vw;
    @media screen and (max-width: 600px){
      padding-right:unset;
     
    }
    .nav {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .nav-link {
      font-size: r(14);
      line-height: r(30);
      color: $color_1;
      padding: 0 1rem;
      font-weight: 500;
    }

    .widget_nav_menu {
      margin-top: r(25);

      .widget-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.125rem;
        border-radius: 2px;
        background-color: #ebebeb;
        border: 1px solid #d7d7d7;
        font-size: r(14);
        line-height: r(30);
        color: $color_1;
        padding: 0 1rem;
        font-weight: 500;
        margin-bottom: r(10);
        cursor: pointer;

        &::after {
          display: block;
          content: '';
          border-top: 2px solid $color_1;
          border-right: 2px solid $color_1;
          width: 0.3rem;
          height: 0.3rem;
          transform: rotateZ(-45deg);
          transition: transform 0.3s;

        }

        &.hide {
          &::after {
            transform: rotateZ(135deg);
          }
        }
      }
    }
  }
  .thumnbail{
    margin-top: r(55);
  }
  .date{
    margin-top: r(16);
    font-size: r(14);
    font-weight: 500;
  }
  .w-post{
    display: grid;
    grid-template-columns: 1fr 324px;
    column-gap: 2vw;
    padding-left: calc((100% - 1200px)/2);
    @media screen and (max-width: 1200px) {
      padding-left: 2%;
      grid-template-columns: 1fr minmax(230px, 24.16%);
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
      padding-right: 2%;
      .sidebar-right{
        grid-row: 2 / 3;
      }
    }
    background: #f3f3f3;
    padding-top: r(60);
    padding-bottom: r(80);
  }
  .title{
    font-size: r(36);
    color: $color_1;
    font-weight: 700;
  }
  .text{
    margin-top: r(40);
    h2{
      font-size: r(36);
      color: $color_1;
      font-weight: 700;
    }
    h3{
      font-size: r(24);
      color: $color_1;
      font-weight: 400;
    }
    ul,ol{
      padding-left: 20px;
      a,
      li{
        line-height: r(24);
      }
    }
  }
  .cta-gold{
   padding: 1rem r(40);
    margin: unset;
    margin-top: r(25);
    display: inline-block;
    height: auto;
    width: auto;
  }
  .comments-area{
    margin-top: r(60);
  }
  .w-posts{
    margin-top: r(40);
  }

  .heading{
    margin-top: r(65);
    font-size: r(24);
    color: $color_1;
    font-weight: bold;
  }
}
.page-template-fullwidth {
  .text p {
    line-height: 1.5rem;
  } 
}