
@font-face {
  font-family: 'silka';
  font-weight: 700;
  font-style: normal;
  src: url('silka-bold-webfont.eot');
  src: url('./inc/assets/fonts/silka-bold-webfont.woff2') format('woff2');
  
}

@font-face {
  font-family: 'silka';
  font-weight: 200;
  font-style: normal;
  src: url('silka-extralight-webfont.eot');
  src: url('./inc/assets/fonts/silka-extralight-webfont.woff2') format('woff2');
  
}

@font-face {
  font-family: 'silka';
  font-weight: 300;
  font-style: normal;
  src: url('silka-light-webfont.eot');
  src: url('./inc/assets/fonts/silka-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'silka';
  font-weight: 400;
  font-style: normal;
  src: url('silka-regular-webfont.eot');
  src: url('./inc/assets/fonts/silka-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'silka';
  font-weight: 500;
  font-style: normal;
  src: url('silka-medium-webfont.eot');
  src: url('./inc/assets/fonts/silka-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'silka';
  font-weight: 600;
  font-style: normal;
  src: url('silka-semibold-webfont.eot');
  src: url('./inc/assets/silka-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'silka';
  font-weight: 100;
  font-style: normal;
  src: url('silka-thin-webfont.eot');
  src: url('./inc/assets/fonts/silka-thin-webfont.woff2') format('woff2');
}
