@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

$color_1:#006ba1;
$color_2: #005581;
$color_3: #ffcc00;

footer {
  background: $color_1;

  .w-content {
   
    @media screen and (max-width:1200px) {
      width: 96vw;
    }

    @media screen and (max-width:600px) {
      width: 94%;
    }
  }

  .nav {
    flex-direction: column;
  }

  #footer-widget {
    padding: r(50) 0;
    min-height: r(200);

    @media screen and (max-width:600px) {
      padding-top:r(50);
      padding-bottom: unset;
    }

    .w-content {
      display: grid;
      grid-template-columns: 25% 25% 1fr;

      // column-gap: 6.7%;
      @media screen and (max-width:1024px) {
        // grid-template-columns: 34% 1fr 20%;
        // column-gap: 7.5%;
      }

      @media screen and (max-width:768px) {
        // grid-template-columns: 39% 1fr 15%;
        // column-gap: 5%;
      }

      @media screen and (max-width:600px),
      screen and (max-width:700px) and (orientation: landscape) {
        grid-template-columns: 1fr;
        column-gap: unset;
        row-gap: r(40);
      }
    }
  }

  .widget_nav_menu{
    li:last-child a{
      padding-bottom: unset;
    }
}
  .text,
  .menu-footer a {
    font-size: r(14);
    line-height: r(27);
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    margin-top: r(17);
  }

  .widget-title {
    color: $color_3;
    text-transform: uppercase;
    font-size: r(16);
    font-weight: 700;
    margin-bottom: r(30);
  }

  *>a {
    &:hover {
      color: $color_3;
    }

    &.nav-link {
      display: block;
      padding: unset;

    }
  }

  .nav.flex-column {
    a {
      padding: unset;
      padding-bottom: r(20);
    }

  }

  a.text {
    display: inline-block;
  }
  .main-copyright{
  display: flex;
  align-items: center;
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 4rem;
    margin-top: 17px;
    position: relative;
    color: $basic_font_color;
    font-size: .8125rem;
    line-height: 1.5625rem;
    font-family: $ff;
    font-weight: 300;
    background: $color_2;

    @media screen and (max-width: 600px) {
      margin-top: 30px;
    }

  }
  .main-copyright a {
    padding-left: r(5);
    color: $basic_font_color;

    &:hover {
      color: $color_3;

    }
  }
  .main-copyright .w-heart {
    display: flex;
    margin: 0 0.25rem;
  }

  .main-copyright .heart {
    width: 30px;
    animation: heartbeat 2s infinite;

    path {
      fill: $basic_font_color;
    }
  }

  @media screen and (max-width:600px){
    .privacy-policy{
      display: none;
    }
  }

  @keyframes heartbeat {
    0% {
      transform: scale(.75);
    }

    20% {
      transform: scale(1);
    }

    40% {
      transform: scale(.75);
    }

    60% {
      transform: scale(1);
    }

    80% {
      transform: scale(.75);
    }

    100% {
      transform: scale(.75);
    }
  }
}



@media screen and (max-width: 600px) {}

@media screen and (max-width: 320px) {}