@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';


.w-content {
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    width: 96%;
  }
  @media screen and (max-width: 600px) {
    width: 94%;
  }
}

.relative {
  position: relative;
}

.site {
  position: relative;
}


body {

  font-family: $ff;
}

a,
span {
  font-family: $ff;
  color: $basic_font_color;
}

a {
  transition: all 0.3s;

  &:hover {
    text-decoration: unset;
  }
}


.dn {
  display: none;
}


.uppercase {
  text-transform: uppercase;
}

.no-found{
  text-align: center;
  line-height: r(40);
  font-size: r(20);
  p{
    color: red;
  }
}
  .error-404 {
    .primary &{
      margin-bottom: 3.75rem;
    }
    .title {
      color:$text_font_color_1;
      text-align: center;
    }
  } 


.row {
  margin-left: unset;
  margin-right: unset;
}
.content-listing-offers,
.content-listing-category {
  background: #f3f3f3;
  padding-bottom: r(80);
}

.navbar-light .navbar-toggler {
  color: $main_font_color;
  border-color: $main_font_color;
}

nav.navbar {
  position: relative;
}

p.text {
  margin-bottom: unset;
}

//colors
.violet{
background: #470375

}
.yellow{
  background: #ffcb00;
}
.fb-blue{
background: #37589b;
}

body #catapult-cookie-bar .x_close span {
  background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-toggle::after {
  border-left: unset;
  border-top: unset;
}



@media screen and (max-width: 600px) {


  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1199px) {}

/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 85%;
  }
}



/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 87%;
  }
}
@media only screen and (min-width: 1680px) {
  html {
    font-size: 100%;
  }
}