@import './fonts.scss';
@import './functions.scss';

$color_1: #fff;
$color_2:#021e40;

.page-template-home-page {

  .top-tiles {
    display: grid;
    grid-template-columns: 1fr 55.4%;

    @media screen and (max-width:992px){
     display: block;
      width: 96%;
      margin: 0 auto;
    }
    @media screen and (max-width:600px){
       width: 94%;
     }
    .heading {
      text-align: center;
    }

    >.bg-img {
      min-height: r(362);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .brand {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;

      @media screen and (max-width:600px){
        overflow: hidden;
      }
    }

    .cta-arrow {
      margin-top: r(10);
      justify-content: flex-start;
      position: relative;
      left: 85px;
    }

    .europa-jobs {
      span {
        font-size: r(50);
      }

      span:first-child {
        color: $color_1;
      }
    }

    .w-content_tiles {
      position: relative;
      z-index: 2;
      width: 76%;
      @media screen and (max-width: 1200px) {
        width: 90%;
      }
    }
    @media screen and (max-width:992px){
      .right-tiles{
        margin-top: 12px;
      }
     }
  }
 
  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    .offers-week {
      width: calc(40% - 6px);
      @media screen and (max-width: 992px) {
        width: calc(60% - 6px);
        order: -2;
        margin-top: unset;
      }
      .bg-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: r(15) r(12) r(15) r(12);
        text-align: left;

        .title {
          font-size: 16px;

        }

        .heading {
          font-size: r(14);
          line-height: unset;
        }

        .heading-smoll {
          font-size: r(12);
          line-height: unset
        }
      }
    }

    .looking-job {
      width: calc(36% - 12px);
      @media screen and (max-width: 992px) {
        width: calc(50% - 6px);
        order: 1;
      }
      
      .text {
        margin-top: r(10);
      }

      .cta-arrow {
        margin-top: unset;
      }
    }

    .without-language {
      width: calc(24% - 6px);
      background: #cb3b8d;

      @media screen and (max-width: 992px) {
        width: calc(40% - 6px);
        order: -1;
        margin-top: unset;
      }

      @media screen and (max-width: 600px) {
        margin-top: 12px;
      }
    }

    .apply-faster {
      width: 25%;
      @media screen and (max-width: 992px) {
        width: calc(40% - 6px);
      }
    }

    .post-category-1 {
      width: calc(34% - 24px);
      background: #949494;
      display: flex;
      align-items: flex-end;
      @media screen and (max-width: 992px) {
        width: calc(60% - 6px);
      }
      .bg-wrap {
        background: rgba(1, 29, 63, 0.8);
        display: inline-block;
        padding: r(20) r(30);
        width: 100%;
        min-height: r(122);
        box-sizing: border-box;
        font-size: r(20);
        line-height: r(28);

        &:hover {
          background: rgba(1, 29, 63, 0.9);
        }
      }
    }

    .check-offers {
      width: 41%;
      @media screen and (max-width: 992px) {
        width: calc(50% - 6px);
        order: 1;
      }
      .count-country,
      .count-company {
        font-size: r(36);
        line-height: r(40);
      }
    }

    >* {
      height: r(280);
      margin-top: 12px;
    }
    @media screen and (max-width: 600px) {
      >* {
        width: 100% !important;
      }
     
      }
    .title,
    .title>p {
      font-weight: 700;
      font-size: r(26);
      color: $basic_font_color;
      text-transform: unset;
    }

    .text {
      font-size: r(20);
      line-height: r(26);
      color: $basic_font_color;
    }
  }
  
  .w-c-middle-tiles {
    margin-top: r(30);
    margin-left: r(27);

    .cta-arrow {
      margin-top: r(10);
      font-size: 1.25rem;
      line-height: r(26);
      color: $basic_font_color;
      font-weight: 400;
      justify-content: flex-start;
    }
  }

  .heading-smoll {
    font-size: r(20);
    line-height: r(28);
    color: $basic_font_color;
  }

  .leatest-announces-job {
    background: #011d3f;
    padding: r(45) 4.5%;
    padding-bottom: r(15);

    .item {
      display: grid;
      grid-template-columns: 1fr r(35);
      grid-template-rows: 1fr 1fr;
      border-bottom: 1px solid #feffff;
      padding: r(20) 0;

      &:last-child {
        border-bottom: unset;
      }

      .heading {
        font-size: r(18);
        display: flex;
        align-items: flex-end;
        color: #feffff;
        font-weight: 500;

        @media screen and (max-width:600px){
          line-height: r(24);
        }
      }

      .heading-smoll {
        font-size: r(14);
        color: #feffff;
      }
    }

    .cta-arrow {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      margin-top: unset;
    }

    >.heading {
      margin-bottom: r(35);
      @media screen and (max-width:992px){
        margin-bottom: unset;
      }
    }
  }

  .tiles-center-middle {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 58% 1fr;
    column-gap: 12px;
    @media screen and (max-width: 992px){
      grid-template-columns:1fr;
      column-gap: unset;
      row-gap: 12px;
    }
  }

  .right-posts {
    display: grid;
    row-gap: 12px;
    @media screen and (max-width: 992px){
      grid-template-columns:1fr 1fr;
      column-gap: 12px;
      row-gap: unset;
    }
    @media screen and (max-width: 600px){
      grid-template-columns:1fr;
      column-gap: unset;
      row-gap: 12px;
    }
    .post-tiles {
      height: unset;
      min-height: 17.5rem;
    }
  }

  .post-tiles {
    display: flex;
    align-items: flex-end;
    height: 17.5rem;

    .bg-wrap {
      background: rgba(1, 29, 63, 0.8);
      display: inline-block;
      padding: r(20) r(30);
      width: 100%;
      min-height: r(100);
      box-sizing: border-box;
      font-size: r(20);
      line-height: r(28);

      &:hover {
        background: rgba(1, 29, 63, 0.9);
      }
    }
  }

  .tiles-center-bottom {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr repeat(2, 24.16%) 16%;
    column-gap: 12px;
    .fb-blue{
      img{
        object-fit: contain;
        object-position: right bottom;
      }
    }

    @media screen and (max-width: 992px){
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

     .post-tiles{
        width: calc(65% - 6px);
        order: -2;
      }

      .fb-blue{
        width: calc(35% - 6px);
        order: -2;
      }

      .violet,.yellow{
        width: calc(50% - 6px);
        margin-top: 12px;
      }
    }

    @media screen and (max-width: 600px){
      margin-top: 12px;
      flex-direction: column;

      >*{
        width: 100% !important;
      }

      .fb-blue{
        margin-top: 12px;
        order: unset;
      }
    }

    >* {
      height: 17.5rem;
    }
  }

  .heading>p {
    margin-top: r(10);

    &:first-child {
      margin-top: unset;
    }
  }

  .seo-text {
    margin-top: r(75);
    margin-bottom: r(55);

    @media screen and (max-width:1200px){
      width: 96%;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width:992px){
      width: auto;
      margin-left: unset;
      margin-right: unset;
    }
    p {
      font-size: r(14);
      line-height: r(22);
      color: $color_2;
      font-family: $ff;
      font-weight: 500;

      &:first-child {
        margin-bottom: r(15);
      }

      strong {
        font-size: r(20);
        color: $color_2;
        font-family: $ff;
        font-weight: 700;
      }
    }
  }
}
