$main_font_color: #006ba1;
$second_font_color: #fdb900;
$basic_font_color: #fff;

$text_font_color_1: #1e2126;

$main_bg_color: #000;
$second_bg_color: #fafafa;

$main_element_bg_color: $second_font_color;

$svg_color: rgba(255,255,255,0.7);;

//nav border
$nav_border_color: #f4f4f4;

//botton cta
$main_button_bg_color: $second_font_color;
$button_bg_color: #333333;
$button_color: #fff;

//botton arrow (after)
$botton_arrow_size: 20;

//fonts
$ff: "silka";
