
@import './functions.scss';

$cta_main_color:#fdb900;
$cta_basic_color:#fff;
  .cta{
    width: r(180);
    height: r(55);
    font-size: r(14);
    box-sizing: border-box;
    border: 1px solid $cta_main_color;
    color:$cta_basic_color;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    &:hover{
        background: $cta_main_color;
        color:$cta_basic_color;
    }
  }

  .cta-gold {
   
      height: r(57);
      width: r(368);
      border-radius: 2px;
      background-color: #ffcc00;
      border: unset;
      color: $basic_font_color;
      font-weight: $input_font_weight;
      font-size: r(24);
      margin: 0 auto;
      display: block;
      margin-top: r(25);
    
    @media screen and (max-width: 992px){
      width: r(215);
    }
    &:hover{
      background:  #e4ad11;    
    }
  }
  .cta-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: r(25);
    color:$main_font_color;
    font-weight: 600;

   
    @media screen and (max-width: 992px){
      font-size: 1.3rem;
    }
    &::after {
      display: block;
      content:"";
      width: 0.6rem;
      height: 0.6rem;
      border-top: 2px solid $cta_basic_color;
      border-right: 2px solid $cta_basic_color;
      position: relative;
      margin-left: r(6);
      transform: rotateZ(45deg);
    }
    &:hover{
      &::after{
        left:r(5);
      }
    }
  }