@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

$color_1: #021e40;
$color_2: #006ba1;
$color_3:#f39e14;

.bg-img {
  position: relative;

  >img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  >:not(img) {
    position: relative;
    z-index: 2;
  }
}

.europa-jobs {
  font-size: r(23);
  font-weight: 500;
  display: flex;

  span:first-child {
    color: $main_font_color;
  }

  span:last-child {
    color: #00b559;
  }
}

.heading,
.heading>p {
  font-weight: 500;
  font-size: r(26);
  color: $basic_font_color;
  text-transform: unset;
}

.title {
  font-size: r(24);
}

.text p {
  font-size: r(16);
  line-height: r(26);
  color: $color_1;
}

.w-job-offers {
  position: relative;

  .loader {
    position: absolute;
    bottom: 3vh;
    z-index: 2;
    display: none;
    border-radius: 50%;
    overflow: hidden;
    left: calc(50% - 128px);

    @media screen and (max-width: 992px) {
      img {
        transform: scale(0.5, 0.5);
        border-radius: 125px;
      }
    }

    &.show {
      display: block;
    }
  }

  .item {
    margin-bottom: r(20);

    &:last-child {
      margin-bottom: unset;
    }

    a:not(.cta-arrow) {
      font-size: r(18);
      line-height: r(22);
      color: $color_1;
      font-weight: 500;

      &:hover {
        color: $color_3;
      }
    }

    .w-content-bottom {
      font-size: r(14);
      line-height: r(22);
      color: $color_1;
      font-weight: 500;
    }

    .cta-arrow {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      justify-self: end;
      font-size: r(14);
      color: $color_2;
      font-weight: 500;

      &::after {
        border-top: 1px solid $color_2;
        border-right: 1px solid $color_2;
        width: 0.3rem;
        height: 0.3rem;
      }
    }

    >.w-flag {
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;

      span {
        display: block;
        width: r(50);
        height: r(50);
        border-radius: 50%;
      }
    }

    border: 1px solid $color_3;
    display: grid;
    grid-template-columns: r(95) 1fr;
    padding: r(25) 0;
    padding-right: 5%;

    .holandia {
      background: url('./image/holandia.jpg') no-repeat;
      background-size: contain;
    }

    .belgia {
      background: url('./image/belgia.png') no-repeat;
      background-size: contain;
    }

    .czechy {
      background: url('./image/czechy.png') no-repeat;
      background-size: contain;
    }

    .dania {
      background: url('./image/dania.png') no-repeat;
      background-size: contain;
    }

    .finlandia {
      background: url('./image/finlandia.png') no-repeat;
      background-size: contain;
    }

    .francja {
      background: url('./image/francja.png') no-repeat;
      background-size: contain;
    }

    .niemcy {
      background: url('./image/niemcy.png') no-repeat;
      background-size: contain;
    }

    .austria {
      background: url('./image/austria.jpg') no-repeat;
      background-size: contain;
    }

    .wielka.brytania {
      background: url('./image/uk.png') no-repeat;
      background-size: contain;
    }

    .hiszpania {
      background: url('./image/hiszpania.png') no-repeat;
      background-size: contain;
    }

    .holandia {
      background: url('./image/holandia.png') no-repeat;
      background-size: contain;
    }

    .islandia {
      background: url('./image/islandia.png') no-repeat;
      background-size: contain;
    }

    .irlandia {
      background: url('./image/irlandia.png') no-repeat;
      background-size: contain;
    }

    .norwegia {
      background: url('./image/norwegia.png') no-repeat;
      background-size: contain;
    }

    .polska {
      background: url('./image/polska.jpg') no-repeat;
      background-size: contain;
    }

    .portugalia {
      background: url('./image/portugalia.png') no-repeat;
      background-size: contain;
    }

    .rumunia {
      background: url('./image/rumunia.png') no-repeat;
      background-size: contain;
    }

    .szwajcaria {
      background: url('./image/szwajcaria.png') no-repeat;
      background-size: contain;
    }

    .szwecja {
      background: url('./image/szwecja.png') no-repeat;
      background-size: contain;
    }

    .węgry {
      background: url('./image/węgry.png') no-repeat;
      background-size: contain;
    }

    .włochy {
      background: url('./image/włochy.png') no-repeat;
      background-size: contain;
    }
  }
}

//breadcrumbs
.breadcrumbs {
  background: $color_2;
  height: r(55);
  display: flex;
  align-items: center;
  font-size: r(12);

  .w-content {
    @media screen and (max-width: 1200px) {
      width: 96%;
    }

    @media screen and (max-width: 600px) {
      width: 94%;
    }
  }
}

.w-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.4%;
  row-gap: r(45);

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3%;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    column-gap: unset;
  }

  margin-top: r(50);

  .w-img {
    overflow: hidden;

    .filter {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background: rgba(0, 0, 0, 0);
      transition: background 0.3s;
    }

    padding-top: 55%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1, 1);
      transition: transform 0.3s;
    }

    &:hover {
      .filter {
        background: rgba(0, 0, 0, 0.2);
      }

      img {
        transform: scale(1.1, 1.1);
      }
    }
  }

  .post-title {
    margin-top: r(25);
    font-size: r(16);
    line-height: r(20);
    color: $color_1;
    font-weight: 700;
  }
}

.social-media {
  .post & {
    display: flex;
    align-items: center;
    margin-top: r(50);
  }

  .resp-sharing-button__link,
  .resp-sharing-button__icon {
    display: inline-block;

    &:hover {

      .resp-sharing-button__icon--solid,
      .resp-sharing-button__icon--solidcircle {
        fill: $color_3;
      }
    }
  }

  .resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin-left: 1rem;

    &:first-child {
      margin-left: 0.5rem;
    }
  }

  .resp-sharing-button__icon svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.4em;
    vertical-align: top
  }

  .resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
  }

  /* Solid icons get a fill */
  .resp-sharing-button__icon--solid,
  .resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none;
    transition: fill 0.3s;

    .post & {
      fill: $color_2;
    }
  }

  @media screen and (max-width:600px) {
    display: none;
  }
}

.w-statistic {
  padding: r(43) 0;
  margin-top: r(80);

  .w-content {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width:992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 9vw;
      row-gap: 9vw;
    }

    @media screen and (max-width:600px) {
      column-gap: 5vw;
    }

    @media screen and (max-width:330px) {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: unset;
    }
  }

  .text {
    text-align: center;
    font-size: r(16);
    color: #ffffff;
    font-weight: 600;
    margin-top: r(7);

    @media screen and (max-width:330px) {
      margin-top: r(12);
      font-size: 1.5rem;
    }
  }

  .item-statistic {
    min-width: r(180);
  }
}

//coments
.single {

  .comment-list {

    footer {
      background: transparent;
    }

    .comment-body {
      display: grid;
      grid-template-columns: 50px 1fr;
      column-gap: 1rem;
      margin-top: 1rem;
    }
  }

  .comments-area {
    color: $color_1;

    a,
    span {
      color: $color_1;
    }

    ul {
      list-style-type: none;

      .children {
        margin-left: calc(50px + 1rem);

        @media screen and (max-width: 600px) {
          margin-left: 25px;
        }
      }
    }

    .comment-content {
      margin-top: r(10);
      font-size: r(14);
      line-height: r(24);
      font-weight: 400;
      color: $color_1;
    }

    .comment-meta {
      font-size: r(12);
      line-height: r(26);
    }

    .mt-0 {
      font-size: r(16);
      line-height: r(26);
      font-weight: 700;
    }

    .pull-left {
      width: 50px;
      height: 50px;

      img {
        widows: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .comment-reply-link {
      font-size: r(12);
      line-height: r(26);
    }

    .comment-form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: r(11);
      column-gap: r(11);
      margin-top: r(58);

      p:first-child,
      .logged-in-as + p {
        grid-column: 1 / 4;
      }

      textarea {
        width: 100%;
      }

      @media screen and (max-width:600px) {

        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
          grid-column: 1 / 4;
        }
      }

      .form-submit {
        grid-column: 1 / 4;
        justify-self: center;

        .submit {
          font-size: r(18);
          width: r(230);
          height: r(50);
          background-color: #006ba1;
          border: unset;
          color: #ffffff;
          font-family: $ff;
          font-weight: 500;
          margin-top: 1rem;

          @media screen and (min-width: 1200px) {
            transition: background-color 0.3s;

            &:hover {
              background-color: #046190;
            }
          }
        }
      }
    }
  }
}