@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

//inputs form
$input_font_color: #959595;
$input_font_weight: 500;
$input_border_color: #fff;
$input_bg_color: $input_border_color;
$input_font_size: 16px;
$placeholder_size: $input_font_size;
$placeholder_weight: $input_font_weight;


input{
  cursor: pointer;
}
.w-form {
 
  @media screen and (max-width:991px) {
   
    margin-top: r(50);
    max-width: 478px;
    margin: 0 auto;
  }
 .cta {
   background: $second_font_color;
   margin-top: r(30);
   width: r(180);
   &:hover{
     background: #fff;
    .btn-primary {
      color:$second_font_color;
    }
   }
 }
  .title {
    font-weight: 700;
    font-size: r(36);
    line-height: r(36);
    margin-top: r(52);
    color:$text_font_color_1;
    text-transform: unset;
  }

  //input type text, tel, email
  input[name="your-name"] {
    background-image: url("./images/user.svg");
  }

  input[name="your-email"] {
    background-image: url("./images/at.svg");
  }

  input[name="your-phone"] {
    background-image: url("./images/call-answer.svg");
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    height: r(44);
    border: 1px solid $input_border_color;
    box-sizing: border-box;
    background: $input_bg_color;
  
    cursor: pointer;
  }


// textarea
    textarea{
        border-color: $input_border_color;
        background: $input_bg_color;
    }
  .wpcf7 .wpcf7-form textarea {
    min-height: r(148);
  }
  .form-control:focus {
    box-shadow: unset;
    border-color: $main_element_bg_color;
  }

  input,
  textarea {
    outline: none;
    border-radius: unset;
    font-size: $input_font_size;
    color: $input_font_color;
    font-weight: $input_font_weight;
  }

  div.wpcf7-validation-errors,
  div.wpcf7-acceptance-missing {
    border: 1px solid red;
    color: red;
  }

  div.wpcf7-response-output {
    margin: unset;
  }

  ::-webkit-input-placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  :-ms-input-placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  ::placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  .wpcf7-submit.btn-primary {
    color: $main_font_color;
    border: unset;
    background: unset;
    display: inline-block;
    font-size: r(14);
    font-weight: 800;
    text-transform: uppercase;
    &:focus {
      box-shadow: unset;
      border: unset;
    }
  }

  .pcf7-form-control {
    background: unset;
  }
  .wpcf7-list-item-label{
    background: $input_bg_color;
  }
  .form-control[readonly="readonly"] {
    color: $basic_font_color;
  }

  div.wpcf7-mail-sent-ng,
  div.wpcf7-aborted {
    color: red;
  }

  div.wpcf7-mail-sent-ok {
    border: 1px solid #398f14;
    color: #398f14;
  }

  [role="alert"] {
    font-family: $ff;
    font-size: .875rem !important;
    line-height: 1.2rem;
    font-weight: 300 !important;

  }
}


.job-offrs {
  .w-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: r(25);
    @media screen and (max-width: 600px) {
      flex-direction: column;
      width: 100%;
      [name="country"]{
        margin-top: r(16);
      }
      }
  }
  
  input[type="text"]{
    height: r(57);
    width: 46%;
    padding-left: r(20);
    @media screen and (max-width: 1200px) {
    padding-left: 2%;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      display: block;
      padding-left: r(16);
      box-sizing: border-box;
    }
    
  }
  ::-webkit-input-placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  :-ms-input-placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  ::placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }
}
.list-offrs{
  
    display: grid;
    grid-template-columns: 1fr;
    row-gap: r(10);

  
  input[type="text"]{
    height: r(50);
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #d7d7d7;
    padding-left: r(20);
  }
  .cta-gold {
    margin-top: unset;
    width: 100%;
  }
  ::-webkit-input-placeholder {
    color: #959595;
    font-family: $ff;
    font-weight: 400;
    font-size:r(14);
  }

  :-ms-input-placeholder {
    color: #959595;
    font-family: $ff;
    font-weight: 400;
    font-size: r(14);
  }

  ::placeholder {
    color: #959595;
    font-family: $ff;
    font-weight: 400;
    font-size: r(14);
  }
}
.form-control:focus {
  background-color: unset;
  border-color: #ced4da;
  box-shadow: unset;
}

//coments
.comments-area {
  textarea{
        border-color: #e1e1e1;
        background: #fff;
        padding-left: r(20);
        padding-top: r(20);
        box-sizing: border-box;
    }
  input[type="text"],
  input[type="email"],
  input[type="url"]{
    height: r(50);
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding-left: r(20);
    width: 100%;
    box-sizing: border-box;
  }
  .form-control:focus {
    background-color: #fff;
    border-color: #e1e1e1;
  }
  ::-webkit-input-placeholder {
    color: #021e40;
    font-family: $ff;
    font-weight: 400;
    font-size:r(14);
  }

  :-ms-input-placeholder {
    color: #021e40;
    font-family: $ff;
    font-weight: 400;
    font-size: r(14);
  }

  ::placeholder {
    color: #021e40;
    font-family: $ff;
    font-weight: 400;
    font-size: r(14);
  }
}

